%table.social{ :width => "100%" }
  %tr
    %td
      / column 1
      %table.column{:align => "left"}
        %tr
          %td
            %h5
              = t :email_social
            %p
              %a.soc-btn.fb{:href => ContentConfig.footer_facebook_url, :target => "_blank"}
                Facebook
              %a.soc-btn.tw{:href => ContentConfig.footer_twitter_url, :target => "_blank"}
                Twitter
              %a.soc-btn.li{:href => ContentConfig.footer_linkedin_url, :target => "_blank"}
                LinkedIn
      %table.column{:align => "left"}
        %tr
          %td
            %h5
              = t :email_contact
            %p
              %strong
                %a{:href => "mailto:"+ContentConfig.footer_email}
                  #{ContentConfig.footer_email]
      %span.clear
